.post-thumb-img {
    border-radius: .3rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .4), 2px 2px 6px rgba(0, 0, 0, .6);
}

.post-link:hover .post-thumb-img {
    filter: brightness(.75);
}

.dl-button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid #0d6efd;
    padding: .375rem .75rem;
    font-size: 1.3rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff !important;
    background-color: #0d6efd;
    text-transform: none;
}

.dl-button.mega {
    background-image: url("/img/mega.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: padding-box;
    font-size: 0;
    height: 50px;
    width: 200px;
}

.dl-button.ul {
    background-image: url("/img/ul.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: padding-box;
    font-size: 0;
    height: 50px;
    width: 200px;
}

.dl-button:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.dl {
    vertical-align: middle;
    text-align: center;
}

.dl.mega:before {
    content: '';
    height: 18px;
    width: 18px;
    margin-right: 3px;
    display: inline-block;
    background-image: url("/img/mega-small.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.dl.ul:before {
    content: '';
    height: 18px;
    width: 18px;
    margin-right: 3px;
    display: inline-block;
    background-image: url("/img/ul-small.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}